* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    background-color: #e3e8ef;

}

img {
    display: inline-box;
}

ul,
li {
    list-style: none;
    padding: 0;
}

p {
    line-height: 1.5;
    font-size: 1rem;
}

button {
    border: none;
    border-radius: 30px;
    padding: 20px 40px;
    color: white;
    background-color: #4392CF;
}

.layout {
    display: grid;
    grid-template: auto 1fr / 1fr 3fr;
    grid-template-areas:
        "sidebar nav"
        "sidebar main";

}

.sidebar {
    grid-area: sidebar;
    display: grid;
    grid-auto-rows: min-content;
    gap: 30px;
    align-items: center;
    background-color: #4392CF;
    color: white;
    padding: 30px;
}

.sidebar-title {
    display: flex;
    align-items: center;
    gap: 20px;
}

.sidebar-title h1 {
    font-size: 2rem;
    display: inline;
}


.sidebar-title img {
    display: inline;
    width: 50px;
}

.sidebar-section {
    display: grid;
    gap: 30px;
    font-size: 1.5rem;
    font-weight: bold;
    grid-auto-rows: min-content;
}

.sidebar-section li {
    display: flex;
    gap: 20px;
    align-items: center;
}

.sidebar-section li img {
    width: 25px;
}

.nav {
    grid-area: nav;
    display: grid;
    padding: 30px;
    background-color: #ffffff;
    box-shadow: 0px 5px 5px lightgray;
    gap: 15px;
    font-weight: bold;
}

.nav-top,
.nav-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-top div *,
.nav-bottom div * {
    padding: 0;
    margin: 0;
}

.nav-top div img {
    width: 2.5rem;
}

.nav-top-left,
.nav-top-right {
    display: flex;
    gap: 20px;
    align-items: center;
}

.nav-top-right .profile-icon {
    width: 50px;
    background-color: #4392CF;
    border-radius: 25px;
}

.search-bar {
    width: 500px;
    border-radius: 20px;
    border: none;
    background-color: #cddce7;
    padding: 15px;
    height: 30px;

}

.search-bar:focused {
    border: 1px #4392cf solid;
}

.nav-bottom div button {
    border: none;
    border-radius: 30px;
    padding: 10px 30px;
    color: white;
    background-color: #4392CF;
    font-size: 1rem;
    font-weight: bold;
    margin-left: 10px;
}

.nav-bottom-left {
    display: grid;
    grid-template: repeat(2, auto) / repeat(2, auto);
    align-items: center;
    column-gap: 10px;
}

.nav-bottom-left .profile-icon {
    grid-row: 1 / span 2;
    width: 100px;
    background-color: #4392CF;
    border-radius: 50px;
}

.user-greeting-top {
    align-self: end;
}

.user-greeting-bottom {
    font-size: 1.25rem;
    align-self: baseline;
}

.main {
    grid-area: main;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: min-content 1fr;
    padding: 30px;
    gap: 20px;
}

.projects {
    grid-row: 1 / span 2;
    display: grid;
    grid-template: auto 1fr / 1fr;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-auto-rows: min-content;
    gap: 20px;
}

.project-card {
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-left: 8px solid rgb(219, 161, 2);
}

.card-icons {
    display: flex;
    justify-content: right;
    gap: 20px;
    padding: 20px;
}

.card-icons img {
    width: 25px;
}

.announcements {
    display: grid;
    grid-auto-rows: min-content;
}

.announcements-card {
    display: grid;
    grid-auto-rows: min-content;
    gap: 10px;
}

.bottom-border {
    border-bottom: 1px gray solid;
}

.trending {
    display: grid;
    grid-auto-rows: min-content;
}

.trending-card {
    display: grid;
    grid-auto-rows: min-content;
    gap: 20px;
    align-items: center;
}

.trending-item {
    display: grid;
    grid-template: auto auto / auto 1fr;
    align-items: center;
    row-gap: 5px;
    column-gap: 10px;
}

.trending-icon {
    grid-row: 1 / span 2;
    width: 50px;
    background-color: #4392CF;
    border-radius: 25px;
}

.trending-username {
    align-self: end;
    margin: 0;
}

.trending-project {
    align-self: baseline;
    margin: 0;
}

.card {
    padding: 10px;
    background-color: #ffffff;
    box-shadow: 5px 5px 5px lightgray;
    border-radius: 10px;
}

.card-text *,
.announcement-item * {
    margin: 10px 0;
}

.subtitle {
    font-size: 1.5rem;
    font-weight: bold;
}

.card-title {
    font-weight: bold;
}

.subtext {
    color: gray;
}